body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #007bff; /* Bleu vif */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 20px 0;
}

.project {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    color: #333;
}

.project p {
    color: #666;
}

.project a.btn {
    display: inline-block;
    background-color: #007bff; /* Bleu vif */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project a.btn:hover {
    background-color: #0056b3; /* Bleu foncé */
}

.footer {
    background-color: #0056b3; /* Vert */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
